{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

<main class="container mx-auto register_page">
    <div class="mt-36 h-full ">
        <div class="flex flex-col justify-center items-center">
            {# <h1 class="mb-3 text-center text-3xl font-bold">Inscription</h1> #}

            <div class="flex flex-col bg-slate-200 w-1/2 h-96 drop-shadow-xl rounded-md">
                {{ form_start(registrationForm) }}

                    <div class="flex flex-col justify-center items-center mt-6">
                        {{ form_row(registrationForm.name) }}
                    </div>
                    <div class="flex flex-col justify-center items-center my-3">
                        {{ form_row(registrationForm.email) }}
                    </div>
                    <div class="flex flex-col justify-center items-center my-3">
                        {{ form_row(registrationForm.plainPassword) }}
                    </div>
                    <div class="flex justify-center items-center my-3">
                        {{ form_widget(registrationForm.agreeTerms) }}
                        {{ form_label(registrationForm.agreeTerms) }}
                    </div>
                    <div class="flex flex-col justify-center items-center my-3 ">
                        <button type="submit" class="w-72 rounded-md py-2 px-10 mt-4 text-white bg-green-800">S'inscrire</button>
                    </div>

                {{ form_end(registrationForm) }}

                <div class="text-center mt-5">
                    <p>Vous avez déjà un compte ? <a href="{{path('app_login')}}" class="text-blue-500 underline ">Connectez-vous ici !</a></p>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
