{% extends 'base.html.twig' %}

{% block title %}Ajouter une voiture{% endblock %}

{% block body %}

<div class="flex">
    {# Menu secondaire du dashboard #}
    {% include "shared/_navbarSecond.html.twig" %}

    <main class="w-4/5">
        <div class="main_page p-10 bg-slate-100 ">
            <span class="mb-12 text-lg capitalize">Home / Voiture</span>
            <h1 class="text-3xl font-bold mb-10 mt-6">Ajouter un véhicule</h1>

            {{ form_start(formCar) }}
            <div class="shadow-xl rounded-md">
                <section class="bg-slate-200 ">
                    <h2 class="bg-slate-300 text-lg p-2 uppercase rounded-r-md">Informations générale</h2>
                    
                    <div class="flex justify-between items-center mt-6 mx-32 p-4">
                        {{ form_row(formCar.name) }}  
                        {{ form_row(formCar.type) }}  
                        {{ form_row(formCar.ageRestriction) }}  
                    </div>
                    <div class="flex justify-between items-center mx-32 p-4">
                        {{ form_row(formCar.description) }}  
                        {{ form_row(formCar.price) }}  
                        {{ form_row(formCar.additionalKilometre) }} 
                    </div>
                    <div class="flex justify-between items-center mx-32 p-4">
                        {{ form_row(formCar.limitKilometre) }}  
                    </div>
                </section>
                    
                <section class="mt-8 bg-slate-200">
                    <h2 class="bg-slate-300 text-lg p-2 uppercase rounded-r-md">Détails</h2>
                    <div class="flex justify-between items-center mt-6 mx-32 p-4">
                        {{ form_row(formCar.passengers) }}  
                        {{ form_row(formCar.door) }}  
                        {{ form_row(formCar.transmission) }}  
                    </div>
                    <div class="flex justify-center items-center">
                        <button type="submit" class=" w-72 rounded-md py-2 px-10 mt-12 mb-2 text-white bg-green-500">Ajouter</button>
                    </div>
                </section>
            </div>
            {{ form_end(formCar) }}

        </div>
    </main>
</div>




{% endblock %}
